.form {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 6);
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 6);
  align-items: center;
}


