.section {
  box-sizing: border-box;
  min-height: 285px;

  overflow: auto;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfIngrInCategory {
  box-sizing: border-box;
  margin: calc(var(--offset-base-size) * 6) 0 calc(var(--offset-base-size) * 10) 0;
  padding: 0 calc(var(--offset-base-size) * 2) 0 calc(var(--offset-base-size) * 4);

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 6);
}


.bund {
  margin-top: calc(var(--offset-base-size) * 15);
}

.heading {
  width: 100%;
  text-align: start;
}
