.sectionProductList {
  flex: 1 1 auto;

  overflow: hidden;
  box-sizing: border-box;
  width: 100%;

  padding: 0 calc(var(--offset-base-size) * 10);
}

.sectionBottom {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 4);

  border-radius: 15px 15px 0 0;
  background-color: var(--background);
}

.btn {
  width: 100%;
  max-width: 196px;
}

@media screen and (max-width: 850px) {
  .sectionProductList {
    padding: 0 calc(var(--offset-base-size) * 2);
  }
}
