.sectionOrdersHistory {
  grid-column-start: 2;
  grid-column-end: 4;
  overflow: hidden;
  height: 100%;

  display: flex;
  flex-direction: column;
}


.ordersList {
  flex: 1 1 auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 6);
  overflow: auto;
  padding: calc(var(--offset-base-size) * 2)
           calc(var(--offset-base-size) * 2)
           0
           0;
  box-sizing: border-box;
}

.stub {
  padding-top: calc(var(--offset-base-size) * 41);
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  row-gap: calc(var(--offset-base-size) * 6);
  padding-right: calc(var(--offset-base-size) * 2);
  box-sizing: border-box;
}

.loader {
  justify-self: center;
  grid-column: 2 / 4;
}

@media screen and (max-width: 970px) {
  .sectionOrdersHistory {
    grid-column: 1 / 2;
  }

  .loader {
    grid-column: 1 / 2;
   }
}
