.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(var(--offset-base-size) * 1);

  list-style: none;
  padding: 0;
  margin: 0;

  cursor: pointer;
  border-radius: 20px;
}

.image {
  min-width: 144px;
  width: 100%;
  max-width: 240px;
  min-height: 72px;
  object-fit: cover;
  object-position: center;
}

.heading {
  text-align: center;
  min-height: 48px;
}

.dragging {
  opacity: .6;
}

.outline {
  outline: 2px solid var(--colors-interface-accent);
}

.buttonAdd {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .card {
    row-gap: calc(var(--offset-base-size) * 2.25);
  }

  .heading {
    min-height: 60px;
  }
}
