.card {
  position: relative;

  list-style: none;
  padding: 0;
  margin: 0;

  width: 272px;
  min-height: 208px;

  cursor: pointer;
  border-radius: 20px;
}

.image {
  width: 240px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.heading {
  text-align: center;
}

.dragging {
  opacity: .6;
}

.outline {
  outline: 2px solid var(--colors-interface-accent);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(var(--offset-base-size) * 1);
}
