.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(var(--offset-base-size) * 1);

  list-style: none;
  padding: 0;
  margin: 0;

  width: 272px;
  min-height: 208px;
}

.image {
  width: 240px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.heading {
  text-align: center;
}
