.section {
  margin-top: 80px;
  justify-self: center;
}

.stub {
  height: calc(var(--offset-base-size) * 6);
}

.actionsZone {
  align-self: end;
}

@media screen and (max-width: 600px){
  .section {
    margin-top: 0;
  }

  .stub {
    height: calc(var(--offset-base-size) * 5);
  }
}
