.main {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 46.875% auto 45.625%;
  padding-left: calc(var(--offset-base-size) * 5);
  padding-right: calc(var(--offset-base-size) * 5);
  grid-template-rows: repeat(fit-content, 2);
}

.mainHeading {
  grid-column: 1 / 4;
}

.navBar {
  width: 100%;
  grid-column: 1 / 2;
  padding-bottom: calc(var(--offset-base-size) * 5);
}

.navList {
  width: 100%;
  display: flex;
}

.navItem {
  width: 50%;
}

.sectionOrders {
  overflow: hidden;
  grid-column: 1 / 2;
}

.ordersList {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: calc(var(--offset-base-size) * 4);
  overflow: auto;
  padding-right: calc(var(--offset-base-size) * 2);
  box-sizing: border-box;
}

.digits {
  overflow: auto;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 15);
}

.mainDigits {
  display: flex;
  column-gap: calc(var(--offset-base-size) * 10);
}

.completedOrders {
  width: 52.7%;
}

.listDone {
  max-height: 165px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--offset-base-size) * 2);
  overflow-x: auto;
  overflow-y: hidden;
}

.pendingOrders {
  width: 45%;
}

.listPending {
  max-height: 165px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--offset-base-size) * 2);
  overflow-x: auto;
  overflow-y: hidden;
}

.asideDigits {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 15);
}

.item {
  display: block;
}

@media screen and (max-width: 1200px){
  .main {
    grid-template-rows: repeat(auto, 3);
    grid-template-columns: 1fr;
  }

  .mainHeading {
    grid-column: 1 / 2;
  }

  .digits {
    grid-column: 1 / 2;
    row-gap: calc(var(--offset-base-size) * 6);
  }

  .asideDigits {
    row-gap: calc(var(--offset-base-size) * 6);
  }
}


@media screen and (max-width: 500px){
  .main {
    padding-left: calc(var(--offset-base-size) * 2);
    padding-right: calc(var(--offset-base-size) * 2);
  }

  .listDone {
    gap: calc(var(--offset-base-size) * 1);
  }

  .listPending {
    gap: calc(var(--offset-base-size) * 1);
  }
}
