.container {
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  column-gap: calc(var(--offset-base-size) * 5);

  margin: 0;
  padding: 0;
  list-style: none;

  margin-top: calc(var(--offset-base-size) * 8);
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 2);
}

.image {
  object-fit: contain;
  object-position: center;
  margin-bottom: calc(var(--offset-base-size) * 4);
}

.heading {
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .image {
    margin-top: calc(var(--offset-base-size) * 4);
    height: 120px;
  }

  .list {
    margin-top: calc(var(--offset-base-size) * 12);
  }
}

@media screen and (max-width: 500px) {
  .heading {
    overflow-wrap: break-word;
  }

  .list {
    flex-wrap: wrap;
    column-gap: calc(var(--offset-base-size) * 4);
  }

  .item {
    flex: 1 1 40%;
  }
}
