.main {
  height: 100vh;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stub {
  height: calc(var(--offset-base-size) * 6.5);
}

@media screen and (max-width: 600px){
  .main {
    justify-content: start;
  }
  .stub {
    height: calc(var(--offset-base-size) * 5.5);
  }
}
