.modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;

  z-index: 2;
}

/*@media screen and (max-width: 850px) {
  .modal-header-container {
    padding: 0 calc(var(--offset-base-size) * 2);
  }
}*/
