.item {
  width: 100%;
  display: flex;
  column-gap: calc(var(--offset-base-size) * 4);
  align-items: center;
  padding-right: calc(var(--offset-base-size) * 1);
  box-sizing: border-box;
}

.circle {
  width: 64px;
  height: 64px;
  border: 2px solid var(--colors-interface-accent);
  border-radius: 100px;
  padding: 4px 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--background-alt);
  flex: 0 0 auto;
}

.image {
  height: 100%;
  object-fit: cover;
  object-position: -21px 0;
}

.heading {
  flex: 1 1 auto;
}

@media screen and (max-width: 850px) {
  .item {
    column-gap: calc(var(--offset-base-size) * 2);
  }

  .circle {
    width: 32px;
    height: 32px;
  }

  .image {
    object-position: -6px 0;
  }
}
