.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.nav-bar {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.nav-bar-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-self: start;
  column-gap: calc(var(--offset-base-size) * 2);
}

.nav-bar-item {
  flex-shrink: 0;
}

.buttonMenuContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popover.popover {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background-element);
  border: none;
  padding-bottom: calc(var(--offset-base-size) * 4);
  box-sizing: border-box;
}

.logoMobile {
  max-height: 40px;
}

.modalContainer {
  width: 100vw;
  max-width: none;
  top: 0;
  left: 0;
  transform: initial;

  border-radius: 0px;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 1050px) {
  .header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .modalContainer {
    height: 100vh;
    height: 100dvh;
  }
}
