.section-common {
  width: 50%;
  max-width: 600px;
  margin-right: calc(var(--offset-base-size) * 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);

  overflow: auto;
  min-height: 96px;
  padding-right: calc(var(--offset-base-size) * 2);
}

.price-section {
  margin-top: calc(var(--offset-base-size) * 10);

  display: flex;
  column-gap: calc(var(--offset-base-size) * 10);
  align-items: center;
  align-self: end;
}

.stub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stubText {
  text-align: center;
  white-space: pre-wrap;
}

.dropTarget {
  border-radius: 20px;
  outline: 2px solid var(--colors-interface-success);
}

.innerSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bun {
  max-height: 25%;
}
