.sectionCommon {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.sectionConstructor {
  box-sizing: border-box;
  flex: 20 1 auto;
  overflow: hidden;
  min-height: 330px;

  padding-left: calc(var(--offset-base-size) * 4);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content) ;
}

.dropTarget {
  border-radius: 20px;
  outline: 2px solid var(--colors-interface-success);
}

.listOfFillings {
  box-sizing: border-box;
  overflow: auto;
  min-height: 90px;

  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);

  padding-right: calc(var(--offset-base-size) * 2);
}

.sectionPrice {
  margin-top: calc(var(--offset-base-size) * 10);
  padding-right: calc(12px + 8px); /* скролл + отступ от скролла */

  flex: 1 0 auto;

  align-self: end;

  display: flex;
  column-gap: calc(var(--offset-base-size) * 10);
  align-items: center;
}

.stub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stubText {
  text-align: center;
  white-space: pre-wrap;
}


