body {
  width: 100%;
}

.text_centered {
  text-align: center;
}

.linkGlobal {
  text-decoration: none;
  transition: .2s linear;
}

/* .linkGlobal:visited {
  color: inherit;
} */

.listGlobal {
  padding: 0;
  margin: 0;
  list-style: none;
}
