body {
  width: 100%;
}

.text_centered {
  text-align: center;
}

.linkGlobal {
  text-decoration: none;
  transition: .2s linear;
  color: inherit;
}

.linkGlobal:hover {
  color: inherit;
}

.linkGlobal:active {
  color: var(--colors-interface-success);
}

.listGlobal {
  padding: 0;
  margin: 0;
  list-style: none;
}
