.section {
  width: 100%;
 max-width: 720px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.success {
  color: var(--colors-interface-success);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  max-height: 312px;
  overflow: auto;
}
